body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 500px;
  margin: 0 auto;
  background-color: #0cd2e4ea;
  text-align: center;
}

h1 {
  font-size: 100px;
  text-shadow: 1px 3px 1px #7c02ff97;
}

.container {
  margin: 50% auto;
}


button {
  display: inline;
  background-color: #7c02ff97;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
}


/* Mobile */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 767px) {

    body {
      width: 300px;
      justify-content: center;
      text-align: center;
    }

    .container {
      margin: 60% auto;
    }
    
    
    h1 {
      font-size: 75px;
    }

}